################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DiceMaster3600/.vs/DiceMaster3600/FileContentIndex/0efd244e-58aa-4cee-87cf-7b2fc420cde9.vsidx
/DiceMaster3600/.vs/DiceMaster3600/FileContentIndex/48c5d636-229f-4c42-b0e7-830500d4ee6f.vsidx
/DiceMaster3600/.vs/DiceMaster3600/FileContentIndex
/DiceMaster3600/obj/Debug/net6.0-windows
/DiceMaster3600/.vs/DiceMaster3600/v17/.suo
/DiceMaster3600/.vs/DiceMaster3600/DesignTimeBuild/.dtbcache.v2
/DiceMaster3600/.vs/DiceMaster3600/v17/.futdcache.v2
/DiceMaster3600/.vs/ProjectEvaluation/dicemaster3600.metadata.v7.bin
/DiceMaster3600/.vs/ProjectEvaluation/dicemaster3600.projects.v7.bin
/DiceMaster3600/bin/Debug/net6.0-windows/DiceMaster3600.dll
/DiceMaster3600/bin/Debug/net6.0-windows/DiceMaster3600.pdb
/DiceMaster3600/obj/Debug/net6.0-windows/ref/DiceMaster3600.dll
/DiceMaster3600/obj/Debug/net6.0-windows/refint/DiceMaster3600.dll
